body {
    height: 100vh;
}

.my-header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2aabe2;
}

.title {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    color: white;
}

.main-section {
    width: 100vw;
}

.group-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.grouping {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #2aabe2;
}

.profile-group {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.profile-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.profile-main {
  display: flex;
  flex-direction: column;
}

.adjuster {
    display: flex;
    width: fit-content;
    height: fit-content;
    position: relative;
    cursor: url(https://img.icons8.com/material-outlined/32/FFFFFF/filled-topic.png), auto;
}

.wordy {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.profile-photo {
    height: 250px;
}

.name {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    line-height: 1.5;
}

.hometown {
    font-family: 'Lato', sans-serif;
}


.quote-container {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 5px;
    border: solid;
    border-color: #fd844c;
    border-width: 1px 1px 1px 1px;
    background-color: rgba(255, 255, 255, 0.425);
    
}

.startquote {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
}
.quote {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif; 
}

.endquote {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
}

.update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.update {
    height: 20px;
    cursor: pointer;
}

.form-container {
    width: 100vw;
    height: 70px;
    background-color: #2D3B45;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.form-style {
    width: 100vw;
    background-color: #2D3B45;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 10px;
}

.dropdown {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.name-input {
    font-family: 'Lato', sans-serif;
}

.hometown-input {
    font-family: 'Lato', sans-serif;
}

.img-input {
    width: 200px;
    font-family: 'Lato', sans-serif;
}

.quote-input {
    width: 450px;
    height: 50px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}

.submit {
    cursor: pointer;
    margin-right: 10px;
    font-family: 'Lato', sans-serif;
}

